extends layout

block content
  .centerContent
    if user
      h1 You are already logged-in
    else
      h1 You can&nbsp;
        a(href="/registration") register
        span &nbsp;or&nbsp;
        a(href="/password/reset") reset your password