extends layout

block content
  .Profile
    h1 Profile
    p Username: #{user.username}
    p E-Mail: #{user.email}

    br

    a(href="/password/renewal") Change Password
    br
    a(href="/logout") Logout
